 /*CSS DA PAGINA PRINCIPAL*/
 
body{
	
	 background-image: url(Imagem1.png);
                 background-repeat;
                 
}



#titulo{

	background:#32CD32;
                border-radius:10px;
                opacity:0.9;
	border-style:solid;
	border-width:10px;
                border-color:#009966;

}

#link{

	background:#32CD32;
                border-radius:10px;
                opacity:0.9;
	border-style:solid;
	border-width:10px;
	 border-color:#009966;
               
               
}

#anuncios{

	background:#CD3333;
                border-radius:10px;
                opacity:0.9;
	border-style:solid;
	border-width:10px;
	 border-color:#CC0033;
	 	
}
#banner{

	background:white;
                border-radius:10px;
                opacity:0.9;
	border-style:solid;
	border-width:10px;
	 border-color:#CC0033;
}

#login{
                
	background:#CD3333;
                border-radius:10px;
                opacity:0.9;
                border-style:solid;
	border-width:10px;
	 border-color:#CC0033;	
}

#direitos{

	background:#32CD32;
                border-radius:10px;
                opacity:0.9;
	border-style:solid;
	border-width:10px;
	 border-color:#009966;	
}
#logo{

	background:white;
	border-style:solid;
	border-width:1px;                
                border-radius:10px;
                opacity:0.9;
	
               
}

#localizacao{

	background:#CD3333;
                border-radius:10px;
                opacity:0.9;
	border-style:solid;
	border-width:10px;
	 border-color:#CC0033;
		
}

hr{
	border-color:#990000;
	color:#990000;
	background-color:#990000;
    
}

#hrtitulos1{
	border-color:#990000;
	color:#990000;
	background-color:#990000;
	height:5px;
}

#hrtitulos2{
	border-color:#006400;
	color:#006400;
	background-color:#006400;
	height:5px;
}

